  /* Basic CSS Reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.main-content {
    flex-grow: 1;
    display: flex;
}

span{
    color: white;
}

.sidebar {
    width: 250px;
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    overflow-y: auto; 
    transition: left 0.3s ease-in-out;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 40px;
}

.sidebar a:hover {
    color: darkorange; 
}



.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.sidebar a.active {
    font-weight: bold;
    color: darkorange;
}

.dashboard {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}



.widget {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.widget h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 992px) {
    .sidebar {
        width: 200px;
    }
}

@media screen and (max-width: 576px) {
    .sidebar {
        width: 150px;
    }
}